.custom-skeleton {
    border: 1px solid var(--surface-d);
    border-radius: 4px;

    ul {
        list-style: none;
    }
}
.thumbnail{
    height: 430px;
    }
    
    .lable  {
        display: inline-block;
    }
.price-style {
color:var(--purple-400)
}
.p-card .p-card-content {
    padding-top: 0px !important;
}

.p-card .p-card-body {
    padding-top: 0px !important;
}