<div class="pb-10">
    <div>
        <h5>Filter by Status</h5>
        <p-selectButton [options]="propertyStatus" [(ngModel)]="selectedPropertyStatus" optionLabel="label"
            optionValue="value" (ngModelChange)="filterProperties($event)">
        </p-selectButton>
    </div>
</div>


<div class="grid pt-2">
    <div *ngFor="let property of filteredProperties | sortBy: [sortField, sortDirection]; let i = index" class="col-4">
        <p-card header="" subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="getImagePath(property.id)">
            </ng-template>
            <ng-template pTemplate="content pt-1">
                <!-- start -->
                <div class="caption">
                    <div *ngIf="!property.showDetails">
                        <h4>
                            <span class="label label-primary">
                                {{ property.type }}
                            </span>
                            <span class="float-right">
                                <img src="../../assets/images/active.png" class="status" *ngIf="property.status===1" />
                                <img src="../../assets/images/expired.jpg" class="status" *ngIf="property.status===2" />
                            </span>
                        </h4>
                        <h4 class="price-style">
                            <i class="glyphicon glyphicon-tag"></i>
                            <h5>Guide Price</h5>
                            {{ property.price | currency:'GBP':true }}

                            <div class="expire-property float-right" (click)="changePropertyStatus(property.id)" *ngIf="property.status===1" >
                                Set as Expired
                            </div>
                        </h4>

                        
                        <hr>
                    </div>

                    <div>
                        <div class="details">
                            <h5>
                                <span class="label label-primary">
                                    <fa-icon [icon]="faBed"></fa-icon>
                                    Beds: {{ property.bedrooms }}
                                </span>
                                <span class="label label-primary">
                                    <fa-icon [icon]="faBath"></fa-icon>
                                    Baths: {{ property.bathrooms }}
                                </span>
                                <span class="label label-primary">
                                    <fa-icon [icon]="faCouch"></fa-icon>
                                    Reception: {{ property.receptions }}
                                </span>
                            </h5>

                            <h5>
                                <span class="label label-primary">
                                    Address: {{ property.address }}
                                </span>
                            </h5>
                            <h5>
                                <span class="label label-primary">
                                    Postal Code: {{ property.postalcode }}
                                </span>
                            </h5>

                            <p>{{ property.description }}</p>

                            <hr>

                            <!-- <p-button class="btn btn-sm btn-danger"
                                (click)="property.showDetails = !property.showDetails">
                                Close
                            </p-button> -->

                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- end -->
        </p-card>
    </div>
</div>